.container-sort{
    padding: 0 5rem;
    margin-right: auto;
    margin-left: auto;
}
.row {
    background-color: black;
    min-width: 100vw;
}

h2 {
    color: aquamarine;
    size: 40px;
    font-family: Calibri, sans-serif;
}

.lobbies {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20vh;
    flex-wrap: wrap;
    min-width: 96vw;
    max-width: 96vw;
    padding: 0 5vw;
}


.lobbies .lobby:nth-child(4n+4){
    margin-right: 0;
}

.lobby {
    background-color: #F6F7F8;
    flex-basis: 20vw;
    max-width: 20vw;
    border: 1px solid #101010;
    border-radius: 20px;
    word-wrap: break-word;
    margin-bottom: 5vh;
    margin-right: 2vw;
    -webkit-transition: 0.3s;
    -moz-transition: .3s;
    -o-transition: .3s;
}

.lobby:hover {
    box-shadow:
            1px 1px #212529,
            2px 2px #212529,
            3px 3px #212529,
            4px 4px #212529,
            5px 5px #212529,
            6px 6px #212529,
            7px 7px #212529;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
    transition: .3s;
}
.lobby h3, .lobby h5 {
    color: #212529;
    text-align: center;
}
.lobby h3 {
    margin-bottom: 10%;
    margin-top: 15%;
}
.cnt-date{
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
}
.btn-cont{
    display: flex;
    justify-content: center;
}
.cnt-date p {
    margin: 0;
}
.modal{
    top: 30vh;
}