.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;

}


/* Style the buttons that are used to open the tab content */
.tab button{
    display: flex;
    cursor: pointer;
    transition: 0.4s;
    min-width: 36vw;
    border: 1px solid #212529;
    min-height: 7vh;
    justify-content: center;
    align-items: center;
    border-radius: 15px
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #fff;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #F6F7F8;
}





/* Style the tab content */
.tabcontent {
    display: flex;
    padding: 6px 12px;

}

#All,#Control{
    max-width: 90vw;
    min-width: 90vw;
}

.tabcontent-secondary{
    display: none;
}


/*Убирает рамку у кнопок при нажатии*/
button,
button:active,
button:focus {
    outline: none;
}