<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/nav.css">

    <title>Главная</title>

</head>
<body>

<!-----------------------------------  begin Modal  ---------------------------------------------------->

<div class="modal fade" id="lobbyModal" tabindex="-1" role="dialog" aria-labelledby="lobbyModalLabel"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="lobbyModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p class="modal-info"></p>
            </div>

            <div class="modal-footer">

                <!-- TODO сделать постер на присоединение юзера к лобби -->

                <button type="button" class="btn btn-primary">Enter</button>


                <form method="GET" class="modal-go-to">
                    <button type="submit" class="btn btn-secondary">Go to lobby page</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!--------------------------------  end Modal ---------------------------------------------------->


<header th:insert="blocks/nav.html :: nav"></header>

<div class="container-sort">
    <div class="sort-form">
        <form action="/lobbies/sort" name="sort" method="GET">

            <div>
                <label for="date-start">Дата начала</label>
                <input type="date" name="date-star" id="date-start">

                <label for="date-end">Дата конца</label>
                <input type="date" name="date-end" id="date-end">
            </div>

            <div>
                <span>Количество человек</span>
                <label for="capacity-start">от:</label>
                <input type="number" name="capacity-start" id="capacity-start">

                <label for="capacity-start">до:</label>
                <input type="number" name="capacity-end" id="capacity-end">

            </div>

           <div>
                <label for="category">Категория</label>
                <select name="category" id="category">
                    <option value="SPORT">Спортивное</option>
                    <option value="BOARD_GAME">Настольные игры</option>
                    <option value="DEVELOPMENT">Развитие</option>
                    <option value="LEISURE">Активный отдых</option>
                    <option value="PARTY">Тусовка</option>
                    <option value="SOCIAL">Социальное</option>
                    <option value="OTHER">Другое</option>
                </select>

                <button class="btn btn-sort" type="submit" >Отсортировать</button>
           </div>

        </form>
    </div>
</div>

<div class="container-fluid lobbies">


    <div th:each="lobby:${lobbies}" class="lobby">
        <h3 th:text="${lobby.eventName}"></h3>
        <div class="btn-cont">


            <button type="button" data-toggle="modal" data-target="#lobbyModal" class="btn btn-dark"
                    data-title="" data-info="" data-id=""
                    th:attr="data-title=${lobby.eventName}, data-info=${lobby.brieflyInfo}, data-id=${lobby.id}">
                Подробнее
            </button>


        </div>
        <div class="cnt-date">
            <div>
                <p>Заполненость:</p>
                <span th:text="${lobby.countOfMembers}"></span>
                <span>/</span>
                <span th:text="${lobby.capacity}"></span>
            </div>
            <div>
                <p>Дата:</p>
                <span th:text="${lobby.getSimpleDate()}"></span>
            </div>
        </div>
    </div>
</div>


<script>
    $('#lobbyModal').on('show.bs.modal', function (event) {
        var title = $(event.relatedTarget).data('title')
        var info = $(event.relatedTarget).data('info')
        var id = $(event.relatedTarget).data('id')
        var modal = $(this)
        var a = document.querySelector("form");
        a.setAttribute("action", "/lobbies/" + id);
        modal.find('.modal-title').text(title)
        modal.find('.modal-info').text(info)
    })
</script>
<script src="/examples/vendors/jquery/jquery-3.min.js"></script>
<!-- Bootstrap JS -->
<script src="/examples/libs/bootstrap-3/js/bootstrap.min.js"></script>
<!-- Moment JS -->
<script src="/examples/vendors/moment/moment-with-locales.js"></script>
<!-- Bootstrap DateTimePicker JS -->
<script src="/examples/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<!-- Инициализация Bootstrap DateTimePicker -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</body>
</html>
