<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <h2><a href="/lobbies" class="navbar-brand">Project X</a></h2>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a href="/myLobbies" class="nav-link active"> Мои лобби </a>
                    </li>

                    <li class="nav-item">
                        <button type="button" class="btn nav-item btn-text" data-toggle="modal"
                                data-target="#addLobbyModal">
                            Добавить лобби
                        </button>
                    </li>

                    <li class="nav-item">
                        <a href="/soon" class="nav-link active"> Услуги </a>
                    </li>

                </ul>


                <div class="lk-logout-container">
                    <a href="/profile" class="nav-link lk"> Личный кабинет</a>
                    <a href="/logout" class="nav-link lk"> Выйти </a>
                </div>
            </div>
        </div>
    </nav>


    <div class="modal fade" id="addLobbyModal" tabindex="-1" role="dialog" aria-labelledby="addLobbyModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5>Заполните нужные данные о мероприятии</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>


                <div class="modal-body">
                    <form action="/lobbies/add" method="POST">

                        <fieldset>
                            <div>
                                <label for="eventName">Название мероприятия</label>
                                <input type="text" name="eventName" id="eventName" required maxlength="60">
                            </div>

                            <div>
                                <label for="category">Категория</label>
                                <select name="category" id="category">
                                    <option value="SPORT">Спортивное</option>
                                    <option value="BOARD_GAME">Настольные игры</option>
                                    <option value="DEVELOPMENT">Развитие</option>
                                    <option value="LEISURE">Активный отдых</option>
                                    <option value="PARTY">Тусовка</option>
                                    <option value="SOCIAL">Социальное</option>
                                </select>
                            </div>

                            <div>
                                <label for="brieflyInfo">Краткое описание</label>
                                <input type="text" name="brieflyInfo" id="brieflyInfo" required maxlength="100">
                            </div>

                            <div>
                                <label for="date">Дата</label>
                                <input type="date" name="date" id="date" required>
                            </div>

                            <div>
                                <label for="capacity">Количество участников</label>
                                <input type="number" name="capacity" id="capacity" required min="2" max="60">
                            </div>

                            <div>
                                <label for="aboutEvent">Полное описание</label>
                                <textarea name="aboutEvent" id="aboutEvent" cols="50" rows="6" required maxlength="60"></textarea>
                            </div>

                            <div>
                                <label for="chatLink"> Ссылка на беседу </label>
                                <input type="text" name="chatLink" id="chatLink" required>
                            </div>


                        </fieldset>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Добавить лобби</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
